.employee-details-container {
  width: 500px;
  .employee-details-wrapper {
    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }

    .column {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
    }

    .upload-image-container {
      align-items: center;
      .upload-button {
        &:hover {
          background-color: var(--dark-blue);
        }
      }
    }

    .mat-form-field {
      padding: 5px;
    }

    h4 {
      font-family: var(--font-sans);
      font-weight: bold;
      padding-left: 10px;
    }

    .progress-bar-container {
      height: 10px;
    }

    .actions {
      margin: 5px;

      .save-button {
        &:hover {
          background-color: var(--green);
        }
      }

      .close-button {
        &:hover {
          background-color: var(--dark-red);
        }
      }
    }
  }
}
