.employee-list-container {
  animation: 1s ease-out 0s 1 slideInFromLeft;

  .top-elements {
    display: flex;
    justify-content: left;
    margin-bottom: 15px;
    background-color: transparent;

    .mat-form-field {
      margin-left: 20px;
      min-width: 200px;
    }

    button {
      height: 45px;
      width: 45px;
      background-color: unset;
      margin-top: 10px;
      color: var(--dark-blue);
      svg {
        height: 35px;
        width: 35px;
      }

      &:hover,
      &:focus {
        background-color: unset;
        color: var(--green);
        transition: var(--transition);
      }
    }


  }

  .content {
    padding: 16px;
  }
}
