.employee-list-container {
  animation: 1s ease-out 0s 1 slideInFromLeft;

  .top-elements {
    display: flex;
    justify-content: left;
    margin-bottom: 15px;
    background-color: transparent;

    .mat-form-field {
      font-size: 14px;
      width: 40%;
      margin-left: 20px;
    }

    button {
      background-color: var(--dark-blue);
      color: white;
      &:hover,
      &:focus {
        background-color: var(--green);
        transition: var(--transition);
      }
    }
  }

  .content {
    padding: 16px;
  }
}
